body {
  margin: 0px;
  background-image: url(ange_home.png);
}

h1 {
  color: white;
  font-size: 1300px;
}

a {
  color: inherit;
  text-decoration: none;
}

#contents {
  position: absolute;
  bottom: 10%;
  left: 10%;
}

.img-cover {
  position: absolute;
  background-size: cover;
  height: 100%;
  width: 100%;
}
